apiVersion: apps/v1
kind: Deployment 
metadata:
  name: web-blue 
spec:
  replicas: 2
  selector:
    matchLabels:
      app: web 
      version: blue 
  template:
    metadata:
      app: web 
      version: blue 
    spec:
      containers:
      - name: web
        image: shankarduppala/myapp:blue
        ports:
        - containerPort: 80